@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h3 class="alert-danger">Are You Sure You Want To Delete @Model.Name Department</h3>
<br />
<form asp-action="Delete">
    
    <partial name="PartialViews/_DetailsDeletePartialView" />
    
    <input type="submit" value="DELETE" class="btn btn-light btn-outline-danger" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-primary btn-outline-dark">Back To Departments Page</a>
</form>
