@model Department
@{
    ViewData["Title"] = "Details";
}

<h3 class="alert-primary align-baseline">@Model.Name Department Details</h3>

<partial name="PartialViews/_DetailsDeletePartialView" />

<a asp-action="Edit" asp-controller="Department" asp-route-id="@Model.Id" class="btn btn-primary btn-outline-danger">Edit</a>
<a asp-action="Index" asp-controller="Department" class="btn btn-primary btn-outline-dark">Back</a>
