@model Department
@{
    ViewData["Title"] = "Edit";
}

<h3 class="alert-primary align-baseline">Edit @Model.Name Department</h3>
<br />
<form asp-action="Edit">

    <partial name="PartialViews/_CreateEditPartialView" />

    <input type="submit" value="SAVE" class="btn btn-primary btn-outline-dark" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-light btn-outline-danger">Back To Departments Page</a>
</form>
@section _ValidationScripts {
    <partial name="_ValidationScriptsPartial" />
}
