@model Department
@{
    ViewData["Title"] = "Edit";
}

<h3 class="alert-primary align-baseline">Edit @Model.Name Department</h3>
<br />
<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label-lg" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label-lg" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="col-form-label-lg" asp-for="CreatedAt"></label>
        <input class="form-control" asp-for="CreatedAt" />
        <span class="text-danger" asp-validation-for="CreatedAt"></span>
    </div>
    <br />
    <input type="submit" value="SAVE" class="btn btn-primary btn-outline-dark" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-light btn-outline-danger">Back To Departments Page</a>
</form>
